/* Login Nav */

.navbar-login{
	float:right;
  	padding-right:15%;
	margin-top: 8%;
}
.navbar-login.login{
	text-align: center;
	position: relative;
	overflow: hidden;
}

.navbar-login a{
  top:0;	
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:'open_regular',Arial;
  font-size: 18px;
  z-index: 80;
}

.navbar-login a:hover{
  text-decoration:underline;
}

.navbar-login .login .caption a.start_btn{
	color: #ffffff;
	padding-top: 50px;
	font-family: 'open_regular', arial;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	z-index: 1000;
	position: absolute;
	
}

.navbar-login .login .caption a:hover{
	color: #636363;
	
}

a.start_btn, 
#box #submit{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}

/*  Login box*/
#lightbox{
	background: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden!important;
	z-index: 9900;
}

#box{
	width: 400px;
	height: 450px;
	background: #ffffff;
	position: fixed;
	display: none;
	text-align: center;
	z-index: 9999;
}

#box form{
	padding: 75px 0;
}

#box .close{
	width: 40px;
	height: 40px;
	display: block;
	background: url('../img/close.png') no-repeat;
	right: -19px;
	top: -19px;
	position: absolute;
}

#box #email,
#box #pass{
	display: block;
	width: 215px;
	height: 50px;
	background: #ffffff;
	border: 1px #edebeb solid;
	margin: 0 auto 10px auto;
	padding: 0 20px;
	outline: none;
	color: #424242;
}

#box a.forgotpass{
	font-family: 'open_regular', arial;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #AEB1C4;
	margin-bottom: 20px;
	overflow: hidden;
	
}

#box a.creatnew{
	font-family: 'open_regular', arial;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #AEB1C4;
	margin-bottom: 20px;
	overflow: hidden;
	
}

#box #submit{
	font-family: 'open_bold', arial;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #fff;
	color: #424242;
	border: 2px #424242 solid;
	padding: 15px 54px;
	margin-top: 20px;
	outline: none;
}

#box #submit:hover{
	cursor: pointer;
	color: #fff;
	background: #424242;
	border: 2px #424242 solid;
}


::-webkit-input-placeholder {
   color: #d1d0d0;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d1d0d0;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d1d0d0;  
}

:-ms-input-placeholder {  
   color: #d1d0d0;  
}

/* Link */
.link{
	padding:15px 35px;
	background:#626262;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:3px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
	text-decoration:none;
	color:cadetblue !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #DBD7D7;
	text-decoration:none;
	color:#fff !important;
}

@media screen and (max-width: 650px) {
  .navbar-login {
    width: 100%;
    margin-top: 0;
  } 
}